<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" href="/css/admin/index.css">
    <link rel="stylesheet" href="/css/seller/product-create.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/seller/sideBar.html :: sidebar}"></div>
<div class="container">
    <h1>상품 등록</h1>

    <form id="productForm" enctype="multipart/form-data">
        <label for="productName">상품명</label>
        <input type="text" id="productName" name="productName" required>

        <label for="price">가격</label>
        <input type="text" id="price" name="price" required>

        <label for="image">상품 이미지</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <div class="image-preview">
            <img id="preview" src="#" alt="이미지 미리보기" style="display:none;">
        </div>

        <button type="submit">상품 등록</button>
    </form>
</div>

<script src="/js/seller/product-create.js"></script>

</body>
</html>
